<!DOCTYPE html>
<html ng-app="my-app">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SnapShop</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link rel="stylesheet" href="/vendor.css">
  <link rel="stylesheet" href="/app.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
</head>
<body>
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="orders.html">Your Orders</a></li>
    <li class="divider"></li>
    <li><a href="#!">Sign Out</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="catalog.html" class="brand-logo" id="title">SnapShop</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="checkout.html">Checkout</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Menu<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
  <div class="container" ng-controller="CatalogCtrl as catalogCtrl">
    <div class="row">
      <div class="col l4 m12 s12">
        <div input-field id="search">
          <input type="text" ng-model="catalogCtrl.searchText" id="searchBox">
          <label><i class="material-icons">search</i>Search Cameras</label>
          <select material-select ng-model="catalogCtrl.sortBy">
            <option ng-repeat="option in catalogCtrl.selectOrder" value="{{ option.value }}">{{option.label}}</option>
          </select>
        </div>
        <div ng-controller="CartCtrl as cartCtrl" id="cart">
          <h6>Your cart</h6>
          <table>
            <thead>
              <tr>
                <th data-field="id">Item Id</th>
                <th data-field="name">Item Name</th>
                <th data-field="price">Item Price</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="cam in cartCtrl.cart() track by $index">
                <td>{{ cam.id }}</td>
                <td>{{ cam.name }}</td>
                <td>{{ cam.price | currency }}</td>
              </tr>
            </tbody>
          </table>
          <ul id="orderDetails">
            <li id="subtotal" ng-hide="cartCtrl.getSubtotal() === 0">Subtotal: {{ cartCtrl.getSubtotal() | currency }}</li>
            <li id="tax" ng-hide="cartCtrl.getSubtotal() === 0">Tax: {{ cartCtrl.getSubtotal() * 0.095 | currency }}</li>
            <li id="total" ng-hide="cartCtrl.getSubtotal() === 0">Total: {{ cartCtrl.getSubtotal() + cartCtrl.getSubtotal() * 0.095 | currency }}</li>
          </ul>
          <p ng-hide="cartCtrl.getSubtotal() === 0">Note: most orders ship within 7-10 business days.</p>
          <a class="waves-effect waves-light btn" id="checkoutButton" href="checkout.html"><i class="material-icons right">shopping_cart</i>Checkout</a>
        </div>
      </div>
      <div>
        <div ng-repeat="cam in catalogCtrl.cameras | filter: catalogCtrl.searchText | orderBy: catalogCtrl.sortBy " class="card col l4 m12 s12">
          <div class="card-image">
            <img ng-src="{{ cam.image }}"/>
            <h6 class="card-title" ng-show="cam.onSale">ON SALE!</h6>
          </div>
          <div class="card-content">
            <h5>{{ cam.id }}. {{ cam.name }}</h5>
            <p>{{ cam.price | currency }} || Rating: {{ cam.rating }}</p>
          </div>
          <div class="card-action">
            <a ng-click="catalogCtrl.addToCart(cam)" href="" class="addToCart">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="page-footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">SnapShop</h5>
          <p class="grey-text text-lighten-4">Your go-to for shopping Merv's cameras</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Menu</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="checkout.html">Checkout</a></li>
            <li><a class="grey-text text-lighten-3" href="orders.html">Your Orders</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Sign Out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2016 Copyright Merv Adello
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script src="/vendor.js"></script>
  <script src="/app.js"></script>
  <script>require('app');</script>
</body>
</html>
