<div ng-controller="CartCtrl as cartCtrl" id="cart">
  <h6>Your cart</h6>
  <table id="cartTable">
    <thead>
      <tr>
        <th data-field="id">Quantity</th>
        <th data-field="name">Item Name</th>
        <th data-field="price">Item Price</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="cam in cartCtrl.cart() track by $index">
        <td>{{ cam.quantity }}</td>
        <td>{{ cam.name }}</td>
        <td>{{ cam.price | currency }}</td>
      </tr>
    </tbody>
  </table>
  <p ng-hide="cartCtrl.getSubtotal() === 0">Note: most orders ready for pickup within 24 hours.</p>
  <ul id="orderDetails">
    <li id="subtotal" ng-hide="cartCtrl.getSubtotal() < 1">Subtotal: {{ cartCtrl.getSubtotal() | currency }}</li>
    <li id="tax" ng-hide="cartCtrl.getSubtotal() < 1">Tax: {{ cartCtrl.getSubtotal() * 0.095 | currency }}</li>
    <li id="total" ng-hide="cartCtrl.getSubtotal() < 1">Total: {{ cartCtrl.getSubtotal() * 1.095 | currency }}</li>
  </ul>
</div>
